@font-face {
	font-family: 'Ostrich Sans';
	src: url('ostrich-sans-regular.woff');
}
body{
	margin: 0;
	background: #eee;
	font-family: 'Ostrich Sans';
	font-size: 40px;
}
a{
	text-decoration:none;
}

/** SPLASH BANNER **/
#splash{
	position: relative;
	background-color: #252A32;
	width:100%;
	height:500px;
}
#splash > div{
	position: absolute;
	top:0; left:0;
	background-repeat: no-repeat;
	width:100%;
	height:500px;
	background-position: calc(50% + 250px) 0;
}
#splash > div:nth-child(8){
	background-image: url(../img/banner/0.png);
	background-position: 50% 0;
}
#splash > div:nth-child(7){ background-image: url(../img/banner/1.png); }
#splash > div:nth-child(6){ background-image: url(../img/banner/2.png); }
#splash > div:nth-child(5){ background-image: url(../img/banner/3.png); }
#splash > div:nth-child(4){ background-image: url(../img/banner/4.png); }
#splash > div:nth-child(3){ background-image: url(../img/banner/5.png); }
#splash > div:nth-child(2){ background-image: url(../img/banner/6.png); }
#splash > div:nth-child(1){ background-image: url(../img/banner/7.png); }

/** SECTIONS **/
.light_section{
	background: #eee;
	overflow: hidden;
}
.light_section #container{
	width:800px;
	margin:50px auto;
}
.dark_section{
	width:100%;
	background: #222;
}
.dark_section #why_container{
	width:850px;
	height:600px;
	overflow: hidden;
	margin:0 auto;
}
.dark_section #why_container > div{
	position: relative;
}
.dark_section #why_background{
	float:left;
	width:400px;
	height:800px;
	background: #cc2727;
}
.dark_section #why_content{
	float:right;
	width:400px;
	padding: 75px 0;
}
.dark_section #why_title{
	color:#fff;
	font-size: 70px;
	text-align: center;
}
.dark_section #why_text{
	color: #777;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 100;
}
.divider{
	position:relative;
	height:0;
	width:100%;
	border-bottom:3px dashed #ccc; 
	top:35px;
}



/** CALLS TO ACTION **/
#actions{
	/*width:800px;
	margin:50px auto;
	text-align: center;*/
}
#actions .action_button{
	position: relative;
	color:#000;
	transition: all 0.2s ease-in-out;
	background: #eee;
	letter-spacing: 0.00em;
}
#actions .action_button:hover{
	color:#dd3939;
}
#actions .action_button.main{
	padding:0 10px;
	text-decoration:underline;
}
#actions .action_button.main:hover{
	letter-spacing: 0.05em;
}
#actions .action_button.sub{
	position: relative;
	top:0;
}
#actions .action_button.sub:hover{
	top:-5px;
}

/** WHAT'S THIS GAME **/
#why_game{}

/** PRESS **/
#press {
	width:100%;
	text-align:center;
}
#press img {
	border-radius: 10px;
}
#press a.image_link {
	transition: all 0.2s ease-in-out;
	text-decoration:none;
	opacity:0.5;
	position: relative;
	top:0;
}
#press a.image_link:hover {
	opacity:1.0;
	top:-5px;
}
#press a.article_link {
	transition: all 0.2s ease-in-out;
	color:#999;
	text-decoration: underline;
}
#press a.article_link:hover {
	color:#dd3939;
}

/** WHY OPEN SOURCE **/
#why_open{}

/** TEAM NOBODY **/
#team{
}
#team .team_pic:last-child{
	margin-right: 0;
}
#team .team_pic{
	float:left;
	margin-right: 25px;
	width:250px;
	height:250px;
	border-radius: 150px;
	background: #333;
	overflow: hidden;
	position: relative;
}
#team a.team_sub_links{
	color:#000;
	transition: all 0.2s ease-in-out;
	text-decoration:underline;
}
#team a.team_sub_links:hover{
	color:#dd3939;
}
#team a.team_hover{
	float:left;
	margin-right:25px;
}
#team a.team_hover .team_pic_desc{
	position: absolute;
	top:250px;
	transition: all 0.25s ease-in-out;
	width:250px;
	height:250px;
	border-radius: 150px;
	background: rgba(0,0,0,0.8);
	color:#fff;
	font-size:35px;
}
#team a.team_hover:hover .team_pic_desc{
	top:0;
}
#team .team_pic_desc span{
	color:#cc2727;
}

/** FOOTER **/
#footer{
	background: #222;
	color: #777;

	width:100%;
	height:100px;
	padding:70px 0 80px 0;
	text-align: center;
	font-weight: 100;
	font-family: sans-serif;
	font-size: 20px;

	position:fixed;
	bottom:0;
	z-index:-1;
}
#footer a{
	transition: all 0.2s ease-in-out;
	color:#cc2727;
}
#footer a:hover{
	color:#ee4a4a;
}